img {
    width: 200px;
}

body {
    text-align: center;
    font-family: Arial;
    
  }
  
body {
        background-image:url('photo.jpg');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}
 
 img {
     border-radius: 50%;
 }
